@font-face {
  font-family: "Helvetica";
  src: local("Helvetica.ttc"),
    url("./fonts/Helvetica.ttc") format("truetype");
}

@font-face {
  font-family: "Adobe Bold";
  src: local("AdobeCleanBold.otf"),
    url("./fonts/AdobeCleanBold.otf") format("opentype");
}

@font-face {
  font-family: "Adobe Regular";
  src: local("AdobeCleanRegular.otf"),
    url("./fonts/AdobeCleanRegular.otf") format("opentype");
}

@font-face {
  font-family: "Adobe Italic";
  src: local("AdobeCleanIt.otf"),
    url("./fonts/AdobeCleanIt.otf") format("opentype");
}



.App {
  text-align: center;
}

.registerpage {
  display: flex;
  justify-content: space-between;
}

.registerleftside {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registerframeform {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 41px #9e9e9e, -20px -20px 41px #ffffff;

  text-align: center;
  width: 300px;
  background-color: white;
  padding: 20px;
  font-size: 11px;

}
.registerrightside {
  background-image: url("https://as1.ftcdn.net/v2/jpg/05/61/74/06/1000_F_561740668_NPikJNFGm0VP9nOi72BPLkE9pMc4LaBO.jpg");
  width: 35%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.registerformtitle{
  margin: 20px 0;
  font-family: "Adobe Bold";
  color: rgb(164, 163, 163);
  text-transform: capitalize;
}

.inputforms {
  text-align: center;
  width: 150px;
  height: 20px;
  font-family: "Helvetica";
  font-size: 12px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;

}

.registerbuttons {
  color: white;
  padding: 10px 20px;
  font-family: "Helvetica";
  text-decoration: none;
  font-weight: 600;
  margin: 10px 15px;
  border: none;
  background-color: #11c9f2;
  border-radius: 3px;
  font-size: 14px;
  box-shadow:  2px 2px 4px #c7c7c7,
  -2px -2px 4px #cccccc;
}

.registerform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Adobe Bold";
  font-size: 14px;
  font-weight: 400;
}

.titleregister {
  width: 350px;
  margin: 25px;
  text-align: center;
  font-size: 25px;
  font-family: "Adobe Bold";

}

.register2page {
  display: flex;
  justify-content: space-between;
}

.register2rightside {
  background-image: url("https://as2.ftcdn.net/v2/jpg/05/30/64/59/1000_F_530645962_62rdPriTBNELiiDCwFW6cIvbklJWnWmx.jpg");
  width: 35%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.register2leftside {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.register2frameform {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 41px #9e9e9e, -20px -20px 41px #ffffff;

  text-align: center;
  width: 400px;
  background-color: white;
  padding: 20px;
  font-size: 11px;

}

.register2formtitle{
  margin: 20px 0;
  font-family: "Adobe Bold";
  color: rgb(164, 163, 163);
  line-height: 30px;
}

.register2formsubtext{
  font-size: 14px;
  font-family: "Adobe Italic";
  color: rgb(164, 163, 163);
  margin-top: -15px;
  margin-bottom: 40px;

}

.resgister2tagslist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.register2tags{

  font-family: "Adobe Bold";
  margin: 5px 7px;
  font-size:13px;
  background-color: #11c9f2;
  padding: 8px;
  color: rgb(255, 253, 253);
  border-radius: 19px;
  box-shadow:  2px 2px 4px #c7c7c7,
             -2px -2px 4px #cccccc;
}

.register2tagselected{
  font-family: "Adobe Regular";
  margin: 5px 7px;
  font-size:13px;
  background-color: #1990ec;
  padding: 8px;
  color: white;
  border-radius: 19px;
  box-shadow: inset 1px 1px 3px #646464,
  inset -1px -1px 3px #5e5e5e;
}

.leaflet-container {
  height: 600px;
  width: 60%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 /* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 } */
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }